.fa-check {
    color: green;
}

.fa-remove {
    color: red;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.saved {
    background-color:#f5f5f5;
}
  
tr:hover {background-color:#dbdbdb;}
